@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Klee";
  src: url(../fonts/KleeOne-Regular.ttf);
}
@font-face {
  font-family: "Delius";
  src: url(../fonts/Delius-Regular.ttf);
}
@font-face {
  font-family: "Solitreo";
  src: url(../fonts/Solitreo-Regular.ttf);
}
@font-face {
  font-family: "Parisiene";
  src: url(../fonts/Parisienne-Regular.ttf);
}
@font-face {
  font-family: "MondayMiracle";
  src: url(../fonts/Monday\ Miracle\ Alternate.otf);
}
@font-face {
  font-family: "KalamBold";
  src: url(../fonts/Kalam-Bold.ttf);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translate3d(0, -60%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(1000px);
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes zoomIn2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
    color: rgb(158, 57, 85);
  }
  100% {
    transform: scale(1, 1);
  }
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Klee";
  src: url(../fonts/KleeOne-Regular.ttf);
}
@font-face {
  font-family: "Delius";
  src: url(../fonts/Delius-Regular.ttf);
}
@font-face {
  font-family: "Solitreo";
  src: url(../fonts/Solitreo-Regular.ttf);
}
@font-face {
  font-family: "Parisiene";
  src: url(../fonts/Parisienne-Regular.ttf);
}
@font-face {
  font-family: "MondayMiracle";
  src: url(../fonts/Monday\ Miracle\ Alternate.otf);
}
@font-face {
  font-family: "KalamBold";
  src: url(../fonts/Kalam-Bold.ttf);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translate3d(0, -60%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(1000px);
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes zoomIn2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
    color: rgb(158, 57, 85);
  }
  100% {
    transform: scale(1, 1);
  }
}
* {
  scroll-behavior: smooth;
  margin: 0 auto;
  animation: fadeIn 1.5s;
  font-family: "Roboto";
}

header {
  background-color: rgba(253, 218, 180, 0.3) !important;
  padding: 5px 0 10px 0;
  text-align: center;
}
header h1 {
  font-family: "Parisiene";
  font-size: 6rem;
  text-align: "center";
  text-decoration: none;
  color: rgb(158, 57, 85);
  margin: 1%;
  animation: fadeInRight 1s;
}

nav {
  background-image: linear-gradient(rgba(158, 57, 85, 0.7), rgba(250, 156, 182, 0.7));
  padding-top: 3px;
  top: 0;
  padding: 3px auto 0;
}
nav h1 {
  font-family: "Parisiene";
  font-size: 4rem !important;
  text-align: "center";
  text-decoration: none;
  color: white !important;
  margin: 25px;
  animation: fadeDown 1.5s;
}
nav ul {
  list-style-type: none;
  width: 100%;
  margin: 5px;
  padding: 15px;
}
nav ul li {
  line-height: 40px;
  border-radius: 10px;
}
nav ul li a {
  font-family: "Roboto";
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: white !important;
  margin: 0;
  transition-property: all !important;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
  color: white !important;
}
nav ul li a:hover {
  background-color: #fdf5e7 !important;
  color: #9e3955 !important;
  transform: scale(1.03) !important;
}

.bodyballerobica, .bodyprofesora {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  background-position-x: 100%;
  background-position-y: -5px;
}

main {
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.5);
}

footer {
  background: radial-gradient(ellipse 750px 120px, #c7bfe9, #5643a1);
}
footer img {
  align-items: center;
  justify-content: center;
  margin: 2% 3%;
  width: 5%;
  transition-property: all !important;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
}
footer img:hover {
  transform: scale(1.1);
}
footer a {
  color: rgba(0, 0, 0, 0) !important;
}

button {
  transition-property: all !important;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
  background-image: linear-gradient(rgb(158, 57, 85), rgb(250, 156, 182));
}
button:hover {
  transform: scale(1.1);
}

.backbutton {
  width: 5%;
  opacity: 0.5;
  transition-property: all !important;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
}
.backbutton:hover {
  opacity: 1;
}

footer a:nth-of-type(1) {
  animation: fadeIn 0.3s;
  animation-fill-mode: both;
  animation-delay: 0.75s;
}

footer a:nth-of-type(2) {
  animation: fadeIn 0.3s;
  animation-fill-mode: both;
  animation-delay: 1.5s;
}

footer a:nth-of-type(3) {
  animation: fadeIn 0.3s;
  animation-fill-mode: both;
  animation-delay: 2.25s;
}

.ballerobica {
  line-height: 180%;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0);
}
.ballerobica h2 {
  text-align: center;
}
.ballerobica p {
  text-align: center;
}
.ballerobica img {
  width: 77%;
  border-radius: 70%;
}
.ballerobica ul li {
  list-style-type: "★";
}

.ballerobica__card li:nth-of-type(1) {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.25s;
}

.ballerobica__card li:nth-of-type(2) {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.ballerobica__card li:nth-of-type(3) {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.75s;
}

.ballerobica__card li:nth-of-type(4) {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.ballerobica__card li:nth-of-type(5) {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both;
  animation-delay: 1.25s;
}

.ballerobica__card li:nth-of-type(6) {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both;
  animation-delay: 1.5s;
}

.ballerobica__card li:nth-of-type(7) {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both;
  animation-delay: 1.75s;
}

.ballerobica__card li:nth-of-type(8) {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.ballerobica__card li:nth-of-type(9) {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both;
  animation-delay: 2.25s;
}

.ballerobica__card li:nth-of-type(10) {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both;
  animation-delay: 2.5s;
}

.ballerobica__card li:nth-of-type(11) {
  animation: fadeInRight 0.5s;
  animation-fill-mode: both;
  animation-delay: 2.75s;
}

.ballerobica__card__container {
  margin-top: 3%;
}

.ballerobica__card {
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1%;
}
.ballerobica__card p {
  font-family: "KalamBold";
}
.ballerobica__card li {
  font-family: "KalamBold";
  position: relative;
}
.ballerobica__card h2 {
  font-family: "Parisiene";
  font-size: 7vh;
  border-bottom: 1px solid black;
}

.video {
  height: 50%;
  margin-bottom: 40%;
}
.video h2 {
  border-bottom: none;
  animation: zoomIn2 3s;
  animation-iteration-count: infinite;
}

.bodycontacto {
  background-image: url(../images/background2.png);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  background-attachment: fixed;
}

.formsection {
  text-align: center;
  padding-bottom: 15%;
}
.formsection h2 {
  font-family: "Delius";
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: #615788;
  margin: 0;
  letter-spacing: 2px;
  padding: 2% 0;
}

form fieldset {
  width: 70%;
  border-radius: 3%;
}
form fieldset div {
  width: 25vw;
}
form label {
  width: 40%;
}
form .labelN, form .labelDH {
  font-size: 80%;
}
form input {
  width: 70%;
}
form input, form select, form textarea {
  margin-bottom: 2%;
  background-color: #fccfdb !important;
  border: 1px solid gray;
  border-radius: 2%;
}
form textarea {
  resize: none !important;
  height: 135px !important;
}
form button {
  border: 2px solid black;
  padding: 1% 4%;
  margin: 1% 2%;
  color: black !important;
  background-color: #d3708c !important;
}
form button:hover {
  background-color: #d64d74 !important;
}
form select {
  width: 68%;
}

.blog {
  background-image: url(../images/Background4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
}
.blog section {
  padding: 1% 6%;
}
.blog section article {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1%;
  line-height: 2.5rem;
  border-radius: 2%;
}
.blog section article h2 {
  font-family: "Klee";
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #46304d;
  margin: 0;
  border-bottom: 1px solid black;
}
.blog main {
  padding-bottom: 40px;
}

.blog-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 29% 35% 36%;
  column-gap: 2%;
  row-gap: 1%;
  padding-bottom: 10%;
}

.btnblog {
  border: 1px solid black !important;
  padding: 1% 4%;
  margin: 0 2%;
  color: black !important;
  background-color: linear-gradient(rgb(158, 57, 85), rgb(250, 156, 182)) !important;
  transition-property: all !important;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
}

.blog-article {
  height: 100%;
}
.blog-article p {
  font-size: 0.65rem;
  line-height: 1rem;
}

#tituloArticulo {
  font-family: "Klee";
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: #46304d;
  margin: 2%;
  border-bottom: 1px solid black;
}

.profe {
  text-align: center;
  padding: 30px;
  background-color: rgba(250, 235, 215, 0.5);
}
.profe aside {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3%;
}
.profe p {
  font-family: "Roboto";
  letter-spacing: 0.5px;
  line-height: 160%;
}
.profe h2 {
  font-family: "Solitreo";
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: #46304d;
  margin: 0;
  border-bottom: 1px solid #46304d;
  margin-bottom: 4%;
}
.profe h2:hover {
  transform: translateY 10px;
}
.profe img {
  margin-top: 3%;
  width: 100%;
}
.profe a {
  color: black;
}

.profe__foto {
  background-image: url(../images/foto3_auto_x2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-x: 200px;
}

.profe__foto__2 {
  background-image: url(../images/foto4_auto_x2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.profe__article {
  background-color: white;
  padding: 6% 3%;
}

#certs {
  padding: 2% 0px;
  margin: 0 auto;
  border-top: 1px solid #c7bfe9;
}
#certs h2 {
  color: #615788;
  font-family: "Delius";
  font-size: 3rem;
  margin-bottom: 1%;
}
#certs img {
  width: 80%;
}
#certs article {
  width: 32%;
}

.certificado {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 4%;
  padding: 1%;
  transition-property: all !important;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
}
.certificado h2, .certificado h3 {
  font-family: "Delius";
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #615788;
  margin: 0;
  letter-spacing: 2px;
}
.certificado h3 {
  font-size: 1rem;
}
.certificado:hover {
  transform: scale(1.3);
}

.carousel {
  padding: 1%;
  transition-property: all !important;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
}
.carousel img {
  width: 100% !important;
}

.ejercicios {
  background-image: url(../images/background3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  background-attachment: fixed;
  font-family: "Roboto";
}
.ejercicios .tipoEjercicio ul {
  border-bottom: 1px solid black;
  list-style-type: none;
  display: flex;
}
.ejercicios .tipoEjercicio ul li a {
  text-decoration: none;
  color: rgba(43, 42, 42, 0.6);
  transition-property: all !important;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
}
.ejercicios .tipoEjercicio ul li a:hover {
  color: rgb(43, 42, 42);
}
.ejercicios img:hover {
  transform: scale(1.3);
}
.ejercicios section h2, .ejercicios section h3 {
  font-family: "Solitreo";
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  color: black;
  margin: none;
  border-bottom: 1px solid black;
}
.ejercicios section h3 {
  font-size: 30px;
}
.ejercicios section img {
  padding: 1%;
  transition-property: all !important;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-delay: 0s !important;
}
.ejercicios article {
  padding: 3% 2%;
  border-bottom: 1px solid black;
}
.ejercicios article p {
  margin-top: 2%;
  width: 70%;
  font-size: smaller;
}
.ejercicios article div img {
  width: 70%;
  border-radius: 4%;
}

@media (min-width: 992px) {
  .blog-grid .blog-article:first-child {
    grid-row: 1/3;
    grid-column: 1;
  }
  .blog-grid .blog-article:nth-child(4) {
    grid-row: 1;
    grid-column: 2;
    height: 100%;
  }
  .blog-grid .blog-article:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
    margin-top: 1fr;
  }
  .blog-grid .blog-article:nth-child(2) {
    grid-row: 3;
    grid-column: 1/3;
  }
}
@media (max-width: 992px) {
  .profe__foto {
    display: none;
  }
  .profe__article__last {
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  .blog-grid {
    grid-template-columns: 100%;
    grid-template-rows: 24% 32% 24% 20%;
    padding-bottom: 10%;
  }
  .blog-article {
    font-size: smaller;
  }
  .blog button {
    margin: 0;
  }
  .navbar-collapse {
    border-top: 1px solid white;
  }
  .nav ul li {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
  }
  .blog main {
    padding-bottom: 50px;
  }
  .nav-item {
    font-size: 1rem !important;
  }
  .certificado:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 680px) and (min-width: 375px) {
  nav h1 {
    font-size: 2rem !important;
  }
  nav ul li a {
    font-size: 2rem !important;
  }
  .blog main {
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) {
  nav h1 {
    font-size: 1rem !important;
  }
}
@media (max-width: 500px) {
  .blog main {
    padding-bottom: 50px;
  }
  .blog article p {
    font-size: 0.5rem;
  }
}
@media (max-width: 253px) {
  .blog section article h1,
  .blog section article h1 {
    font-size: xx-small;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  body {
    backdrop-filter: blur(2px);
  }
}
@media (min-width: 769px) {
  .ballerobica h1 {
    font-size: 40px;
  }
}
@media (min-width: 2000px) {
  nav ul li a {
    font-size: 50px !important;
  }
  header h1 {
    font-size: 10rem;
  }
}
@media (max-width: 768px) and (min-width: 300px) {
  body,
  .blog,
  .ejercicios {
    backdrop-filter: blur(2px);
  }
  .blog {
    background-image: url(../images/Foto1.jpg);
  }
  body {
    background-image: url(../images/BackgroundMobile1.png);
  }
  .ejercicios, .bodycontacto {
    background-image: url(../images/Background-mobile2.jpg);
    background-attachment: scroll;
  }
  .carousel:hover {
    margin-bottom: 4%;
    margin-top: 2%;
  }
  .ballerobica h1 {
    color: #501c2b;
    font-size: 30px;
  }
}
@media (max-width: 769px) {
  footer img {
    width: 10%;
  }
  .video {
    height: 40%;
  }
  .ejercicios article p {
    font-size: x-small;
  }
}
@media (max-width: 444px) and (min-width: 370px) {
  nav h1 {
    font-size: 1.75rem !important;
  }
}
@media (max-width: 500px) and (min-width: 450px) {
  .blog-grid {
    grid-template-rows: 24% 31% 24% 22%;
  }
}
@media (max-width: 451px) {
  .formsection button {
    font-size: 10px !important;
  }
}
@media (max-width: 451px) and (min-width: 320px) {
  .blog-grid {
    grid-template-rows: 27% 35% 23% 18%;
    margin-bottom: 40px;
  }
  .formsection {
    height: 120vh;
  }
}
@media (max-width: 342px) {
  .formsection {
    height: 140vh;
  }
}
@media (max-width: 700px) {
  .errorpage h1 {
    font-size: 9rem !important;
  }
}
@media (max-width: 950px) {
  .errorpage h2 {
    font-size: 1.5rem !important;
  }
  .errorpage h1 {
    font-size: 18rem !important;
  }
  .errorpage h3 {
    margin-top: 7vh !important;
  }
}
@media (max-width: 731px) {
  .errorpage h2 {
    font-size: 1rem !important;
  }
}
@media (max-width: 691px) {
  .errorpage h1 {
    font-size: 14rem !important;
  }
}
@media (max-width: 511px) {
  .errorpage h2 {
    font-size: 0.8rem !important;
  }
  .errorpage h1 {
    font-size: 11rem !important;
  }
  .errorpage h3 {
    font-size: 1rem !important;
  }
}
@media (max-width: 410px) {
  .errorpage h1 {
    font-size: 8rem !important;
  }
  .errorpage h2 {
    font-size: 0.6rem !important;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translate3d(0, -60%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(1000px);
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes zoomIn2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
    color: rgb(158, 57, 85);
  }
  100% {
    transform: scale(1, 1);
  }
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Klee";
  src: url(../fonts/KleeOne-Regular.ttf);
}
@font-face {
  font-family: "Delius";
  src: url(../fonts/Delius-Regular.ttf);
}
@font-face {
  font-family: "Solitreo";
  src: url(../fonts/Solitreo-Regular.ttf);
}
@font-face {
  font-family: "Parisiene";
  src: url(../fonts/Parisienne-Regular.ttf);
}
@font-face {
  font-family: "MondayMiracle";
  src: url(../fonts/Monday\ Miracle\ Alternate.otf);
}
@font-face {
  font-family: "KalamBold";
  src: url(../fonts/Kalam-Bold.ttf);
}
@media (min-width: 992px) {
  .blog-grid .blog-article:first-child {
    grid-row: 1/3;
    grid-column: 1;
  }
  .blog-grid .blog-article:nth-child(4) {
    grid-row: 1;
    grid-column: 2;
    height: 100%;
  }
  .blog-grid .blog-article:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
    margin-top: 1fr;
  }
  .blog-grid .blog-article:nth-child(2) {
    grid-row: 3;
    grid-column: 1/3;
  }
}
@media (max-width: 992px) {
  .profe__foto {
    display: none;
  }
  .profe__article__last {
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  .blog-grid {
    grid-template-columns: 100%;
    grid-template-rows: 24% 32% 24% 20%;
    padding-bottom: 10%;
  }
  .blog-article {
    font-size: smaller;
  }
  .blog button {
    margin: 0;
  }
  .navbar-collapse {
    border-top: 1px solid white;
  }
  .nav ul li {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
  }
  .blog main {
    padding-bottom: 50px;
  }
  .nav-item {
    font-size: 1rem !important;
  }
  .certificado:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 680px) and (min-width: 375px) {
  nav h1 {
    font-size: 2rem !important;
  }
  nav ul li a {
    font-size: 2rem !important;
  }
  .blog main {
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) {
  nav h1 {
    font-size: 1rem !important;
  }
}
@media (max-width: 500px) {
  .blog main {
    padding-bottom: 50px;
  }
  .blog article p {
    font-size: 0.5rem;
  }
}
@media (max-width: 253px) {
  .blog section article h1,
  .blog section article h1 {
    font-size: xx-small;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  body {
    backdrop-filter: blur(2px);
  }
}
@media (min-width: 769px) {
  .ballerobica h1 {
    font-size: 40px;
  }
}
@media (min-width: 2000px) {
  nav ul li a {
    font-size: 50px !important;
  }
  header h1 {
    font-size: 10rem;
  }
}
@media (max-width: 768px) and (min-width: 300px) {
  body,
  .blog,
  .ejercicios {
    backdrop-filter: blur(2px);
  }
  .blog {
    background-image: url(../images/Foto1.jpg);
  }
  body {
    background-image: url(../images/BackgroundMobile1.png);
  }
  .ejercicios, .bodycontacto {
    background-image: url(../images/Background-mobile2.jpg);
    background-attachment: scroll;
  }
  .carousel:hover {
    margin-bottom: 4%;
    margin-top: 2%;
  }
  .ballerobica h1 {
    color: #501c2b;
    font-size: 30px;
  }
}
@media (max-width: 769px) {
  footer img {
    width: 10%;
  }
  .video {
    height: 40%;
  }
  .ejercicios article p {
    font-size: x-small;
  }
}
@media (max-width: 444px) and (min-width: 370px) {
  nav h1 {
    font-size: 1.75rem !important;
  }
}
@media (max-width: 500px) and (min-width: 450px) {
  .blog-grid {
    grid-template-rows: 24% 31% 24% 22%;
  }
}
@media (max-width: 451px) {
  .formsection button {
    font-size: 10px !important;
  }
}
@media (max-width: 451px) and (min-width: 320px) {
  .blog-grid {
    grid-template-rows: 27% 35% 23% 18%;
    margin-bottom: 40px;
  }
  .formsection {
    height: 120vh;
  }
}
@media (max-width: 342px) {
  .formsection {
    height: 140vh;
  }
}
@media (max-width: 700px) {
  .errorpage h1 {
    font-size: 9rem !important;
  }
}
@media (max-width: 950px) {
  .errorpage h2 {
    font-size: 1.5rem !important;
  }
  .errorpage h1 {
    font-size: 18rem !important;
  }
  .errorpage h3 {
    margin-top: 7vh !important;
  }
}
@media (max-width: 731px) {
  .errorpage h2 {
    font-size: 1rem !important;
  }
}
@media (max-width: 691px) {
  .errorpage h1 {
    font-size: 14rem !important;
  }
}
@media (max-width: 511px) {
  .errorpage h2 {
    font-size: 0.8rem !important;
  }
  .errorpage h1 {
    font-size: 11rem !important;
  }
  .errorpage h3 {
    font-size: 1rem !important;
  }
}
@media (max-width: 410px) {
  .errorpage h1 {
    font-size: 8rem !important;
  }
  .errorpage h2 {
    font-size: 0.6rem !important;
  }
}

.errorpage {
  text-align: center;
  background-image: linear-gradient(140deg, #fccfdb, rgb(250, 156, 182), #d3708c, rgb(158, 57, 85));
  min-height: 100vh;
}
.errorpage main {
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0);
}
.errorpage main h1 {
  font-family: "Roboto";
  font-size: 24rem;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 0;
  animation: fadeInRight 2s;
  background-image: url(../images/Sunset.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.errorpage main h2 {
  font-family: "Klee";
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 0;
  line-height: 10vh;
  color: #46304d;
}
.errorpage main a {
  text-decoration: none;
}
.errorpage main a h3 {
  font-family: "Klee";
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: #615788;
  margin: 0;
  margin-top: 3px;
  animation: zoomIn2 3s;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=styles.css.map */
