@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeDown {
	from {
		opacity: 0;
		transform: translate3d(0, -60%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(1000px);
    }
    to {
      opacity: 1;
    }
  }

  @keyframes zoomIn {
    0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.1, 1.1);
      }
      100% {
        transform: scale(1, 1);
      }
  }

  @keyframes zoomIn2 {
    0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.1, 1.1);
        color: map-get($colores, rosado3 )
      }
      100% {
        transform: scale(1, 1);
      }
  }




  