@import "mixins";
@import "variables";
@import "maps";

.blog{
    
    @include fondo(url(../images/Background4.jpg));
    section{
        padding: 1% 6%;
        
        article {
            background-color: map-get($colores,whitransparent);    
            padding: 1%;
            line-height: 2.5rem;
            border-radius: 2%;            
            
            h2{
                @include textos("Klee",20px,center,none,#46304d,0);           
            border-bottom: $lineaNegra;           
        }
    }
    }

    main{
        padding-bottom: 40px;
    }

}




.blog-grid{
    display: grid;    
    grid-template-columns:40% 60%;
    grid-template-rows:29% 35% 36%;    
    column-gap: 2%;
    row-gap: 1%;
    padding-bottom: 10%;

}



.btnblog{
    border: $lineaNegra !important;
    padding: 1% 4%;
    margin: 0 2%;  
    color: black !important; 
    background-color: $degradeR !important;  
    @include transitionProps();  
}

.blog-article{
    height: 100%;
    p{
        font-size: 0.65rem;
        line-height: 1rem;
    }    
}

#tituloArticulo{    
        @include textos("Klee",40px,center,none,#46304d,2%);  
        border-bottom: $lineaNegra;  
}