


.blog{
    background-image: url(../images/Background4.jpg);
    background-size: cover;        
    backdrop-filter: blur(5px);
    section{
        padding: 1% 6%;

        h1{
            text-decoration: underline;
            font-family: "Solitreo";
            font-size: 40px;
            text-align: center;
            border-bottom: 1px solid black;
        }

        article {
            background-color: rgba(255, 255, 255, .5);    
            padding: 1%;
            line-height: 2.5rem;
            border-radius: 2%;            
            
            h1{
            font-family: "Klee";
            font-size:20px;
            text-decoration: none;
            border-bottom: 1px solid black;
            color: #46304d;
        }
    }
    }

    main{
        padding-bottom: 40px;
    }

}




.blog-grid{
    display: grid;    
    grid-template-columns:40% 60%;
    grid-template-rows:27% 37% 36%;    
    column-gap: 2%;
    row-gap: 1%;
    padding-bottom: 10%;

}

.btnblog{
    border: 2px solid black;
    padding: 1% 4%;
    margin: 1% 2%;  
    color: black !important; 
    background-color:  $rosado !important;    
}

.blog-article{
    height: 100%;
    p{
        font-size: 0.65rem;
        line-height: 1rem;
    }    
}