@import "mixins";
@import "variables";
@import "maps";

.bodycontacto{
    background-image: url(../images/background2.png);
    background-size: cover;    
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    
}



.formsection{
    text-align: center;
    padding-bottom: 15%;
    
    h1{
        @include textos("Delius",40px,center,none,map-get($colores,morado2),0);
        letter-spacing: 2px;                    
        padding: 2% 0;
        
    }

}


form {
    fieldset{
    width: 70%;
    border-radius: 3%;
        div{
            width: 25vw;        
        }
    }

    label{
        width: 40%;
    }

    .labelN , .labelDH{
        font-size: 80%;
    }
 
    input{
        width: 70%;
    }

    

    input, select, textarea{
        margin-bottom: 2% ;    
        background-color:map-get($colores,rosado-claro)  !important;
        border: 1px solid gray;
        border-radius: 2%;
    }
    
    textarea{
        resize: none !important;
        height: 135px !important;
    }

    button{
        border: 2px solid black;
        padding: 1% 4%;
        margin: 1% 2%;  
        color: black !important; 
        background-color:  map-get($colores,rosado) !important;    
        
        &:hover{            
                background-color: map-get($colores,rosado2) !important;            
        }
    }

    select{
        width: 68%;
    }

}