@import "mixins";
@import "variables";

.carousel{
    padding: 1%;                
    @include transitionProps();      

     img{
    width: 100% !important;
    }
}





.ejercicios{
    @include fondo(url(../images/background3.jpg));    
    background-attachment: fixed;         
    font-family: 'Roboto';

    .tipoEjercicio{
         ul{                
        border-bottom: $lineaNegra ;
        list-style-type: none;
        display: flex;
            li{
                a{
                text-decoration: none;
                color: rgb(43, 42, 42, 0.6);
                @include transitionProps();
                &:hover{
                    color:rgb(43, 42, 42);
                }
                }
            }
        }
    }

    img{
        &:hover{
        transform: scale(1.3)
        }
    }

    section{ 
        
        h1{                
        @include textos("Solitreo",40px,center,underline,black,none);
        border-bottom: $lineaNegra;                                        
    }

        img{
        padding: 1%;                
        @include transitionProps();      
        }
    }

    article{
        padding: 3% 2%;        
        border-bottom: $lineaNegra;

        p{
            margin-top: 2%;
             width: 70%;  
             font-size: smaller; 
            //  font-family: 'Roboto';
        }

        

            div {
                img{
                width: 70%;
                border-radius: 4%;
            }
        }
    }

    
}