@import "maps";
@import "animations";
@import "mixins";
@import "fonts";
@import "mediaqueries";
@import "variables";



.errorpage{
    text-align: center;        
    
    
    background-image: $degradeR2;

    min-height: 100vh;
    
    
    main{
        margin-top: 3vh;
        

        h1{
            @include textos('Roboto',320px,center,none,black,0);
            animation: fadeInRight 2s;            
             background:url(../images/Sunset.jpg) local no-repeat;
            -webkit-text-fill-color: transparent;
             -webkit-background-clip: text;
             background-clip: none;            
            
            
            
        }

        h2{
            line-height: 11vh;
            @include textos('Klee',2rem,center,none,black,0);            
            color: map-get($colores, morado);
        }

        a{
            text-decoration: none;
            

            h3{
                @include textos('Klee',2rem,center,none,map-get($colores, morado2),0);                
                animation:zoomIn2 3s;
                animation-iteration-count: infinite;
                padding-bottom: 3vh;
            }
        }
        }
}