@import "maps";
@import "animations";
@import "mixins";
@import "fonts";
@import "mediaqueries";
@import "variables";



.errorpage{
    text-align: center;        
    
    
    background-image: $degradeR2;

    min-height: 100vh;
    
    
    main{
        padding: 2vh;
        background-color: rgba($color: #000000, $alpha: 0);
        h1{
            @include textos('Roboto',24rem,center,none,black,0);
            animation: fadeInRight 2s;            
            @include fondo(url(../images/Sunset.jpg));
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            
        }

        h2{
            @include textos('Klee',2rem,center,none,black,0);
            line-height: 10vh;
            color: map-get($colores, morado);
        }

        a{
            text-decoration: none;
            
            h3{
                @include textos('Klee',2rem,center,none,map-get($colores, morado2),0);
                margin-top: 3px;
                animation:zoomIn2 3s;
                animation-iteration-count: infinite;
            }
        }
        }
}