@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Klee";
    src: url(../fonts/KleeOne-Regular.ttf);
}

@font-face {
    font-family: "Delius";
    src: url(../fonts/Delius-Regular.ttf);
}

@font-face {
    font-family: "Solitreo";
    src: url(../fonts/Solitreo-Regular.ttf);
}

@font-face {
    font-family: "Parisiene";
    src: url(../fonts/Parisienne-Regular.ttf);
}

@font-face {
    font-family: 'MondayMiracle';
    src: url(../fonts/Monday\ Miracle\ Alternate.otf);
}

@font-face {
    font-family: 'KalamBold';
    src: url(../fonts/Kalam-Bold.ttf);
}