@import "variables";

*{
    scroll-behavior: smooth;
    margin: 0 auto;
    font-family: 'Roboto';
    animation: fadeIn 1.5s;
    
}

header{
    background-color: rgb(252.5, 217.5, 180, .3) !important;
    padding: 5px 0 10px 0;
    text-align: center;    

    h1{
        font-family: 'Parisiene';
        text-align: center;        
        font-size: 6rem;
        color: #b3426d;
        margin: 1%;
        animation: fadeInRight 1s;
    }
}

nav{
    background-image: $degradeH;

    padding-top: 3px;    
    top: 0;
    padding: 3px auto 0;
    
    h1{
        color: white !important;
        font-size: 4rem !important;
        margin: 25px;               
        font-family: 'Parisiene'; 
    }

    ul{    
        list-style-type: none;    
        width: 100%;
        margin: 5px;
        
        padding: 15px;
        li{                    
            line-height: 40px;
            border-radius: 10px;     
            a{
                text-decoration:solid;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: white !important;        
                &:hover{
                    background-color: #fdf5e7;
                    color:  $bordeaux !important;    
                    transform: scale(1.03) !important;                    
                }
            }
        }
    }
    
} 

body{
    
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    background-position-x: 100%;
    background-position-y: -5px;
}

main{
        
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.5);    
}

footer {    
    
     img{
        align-items: center;
        justify-content: center;
        margin: 2% 3%;
        width: 5%;
        transition-duration: 0.4s;
        &:hover{
            transform: scale(1.1);
        }
    }

    a{
        color: rgb(0,0,0,0) !important;
    }

    background:$degradeF;
}

    button:hover{
        background-color:  #daaab8;        
        transform: scale(1.1);
    }
    