@import "variables";
@import "mixins";
@import "maps";
@import "fonts";
@import "animations";

*{
    scroll-behavior: smooth;
    margin: 0 auto;
    animation: fadeIn 1.5s;
    font-family: 'Roboto';
}

header{
    background-color: rgb(252.5, 217.5, 180, .3) !important;
    padding: 5px 0 10px 0;
    text-align: center;    

    h1{
        @include textos('Parisiene',6rem,'center',none,map-get($colores,rosado3),1%);                
        animation: fadeInRight 1s;
       
    }
}

nav{
    background-image: $degradeRT;    
    padding-top: 3px;    
    top: 0;
    padding: 3px auto 0;
    
    h1{
        @include textos('Parisiene',4rem !important,'center',none,white !important, 25px);        
        animation: fadeDown 1.5s;
    }

    ul{    
        list-style-type: none;    
        width: 100%;
        margin: 5px;        
        padding: 15px;
        li{                    
            line-height: 40px;
            border-radius: 10px;     
            
            a{
                @include textos('Roboto',10px,center,none,white !important,0);
                @include transitionProps();    
                          
                color: white !important;        
                &:hover{
                    background-color: #fdf5e7 !important;
                    color:  map-get($colores,bordeaux) !important;    
                    transform: scale(1.03) !important;                    
                }
            }
        }
    }
    
} 

.bodyballerobica, .bodyprofesora{
        
    @include fondo(url(../images/background.png));    
    background-position-x: 100%;
    background-position-y: -5px;
}

main{
        
    width: 80vw;
    background-color: map-get($colores,whitransparent);    
}

footer {    
    
     img{
        align-items: center;
        justify-content: center;
        margin: 2% 3%;
        width: 5%;
        @include transitionProps();
        &:hover{
            transform: scale(1.1);
        }
    }

    a{
        color: rgb(0,0,0,0) !important;
    }

    background:$degradeM;
}

    button{
        @include transitionProps();       
        background-image: $degradeR;       
        &:hover{         
        transform: scale(1.1);
        }
    }
    
    .backbutton{
        width: 5%;
        opacity: 0.5;
        @include transitionProps();
        &:hover{
            opacity: 1;
        }   
    }

    @for $i from 1 through 3 {
        footer{         
            a{
                &:nth-of-type(#{$i}) {            
                animation: fadeIn 0.3s;
                animation-fill-mode: both;            
                animation-delay: .75s * $i;
                }
            }
        }
      
    }
