@import 'variables';

.ballerobica {
    line-height: 180%;
        padding: 3%;
    background-color: rgb(255, 255, 255,0);    
    
    h1{
        text-align: center;        
    }

    p{
        text-align: center;
    }

    img{
        width: 77%;
        border-radius: 70%;    
    }

    ul li{
        list-style-type: '★';
    }
}


.ballerobica__card__container{
    
    margin-top: 3%;
    
}

.ballerobica__card{
    border-radius: 5%;
    background-color: map-get($colores,whitransparent);
    padding: 1%;

    p{
        font-family: 'KalamBold';
    }

    li{
        font-family: 'KalamBold';
    }

    h1{
    font-family: "Parisiene";
    font-size: 7vh;
    border-bottom: $lineaNegra;
    
    }


}


.video{
    height: 50%;
    margin-bottom: 40%;
    h1{
    animation:zoomIn 3s;
    }

}