@import 'variables';
@import 'mediaqueries';



.ballerobica {
    line-height: 180%;
        padding: 3%;
    background-color: rgb(255, 255, 255,0);    
    
    h2{
        text-align: center;        
    }

    p{
        text-align: center;
    }

    img{
        width: 77%;
        border-radius: 70%;    
    }

    ul {
        
        li{
        list-style-type: '★';           
        }
    }
}

@for $i from 1 through 11 {
    .ballerobica__card{
     
    li{
        &:nth-of-type(#{$i}) {
        
        animation: fadeInRight 0.5s;
        animation-fill-mode: both;
        animation-delay: .25s * $i;
    }
    }
  }
}


.ballerobica__card__container{
    
    margin-top: 3%;
    
}



.ballerobica__card{
    border-radius: 5%;
    background-color: map-get($colores,whitransparent);
    padding: 1%;

    p{
        font-family: 'KalamBold';
    }

    li{
        font-family: 'KalamBold';
        position: relative;
        
    }

        

    h2{
    font-family: "Parisiene";
    font-size: 7vh;
    border-bottom: $lineaNegra;
    
    }


}


.video{
    height: 50%;
    
    h2{
    border-bottom: none;
    animation:zoomIn2 3s;
    animation-iteration-count: infinite;
    }

}

