$colores: (
    bordeaux:#9e3955,
morado:#46304d,
morado2:#615788,
lila:#c7bfe9,
lila2:#5643a1,
rosado-claro:#fccfdb,
rosado:#d3708c,
rosado2:#d64d74,
rosado3:rgb(158, 57, 85),
rosado4:rgba(250, 156, 182),
whitransparent: rgba(255, 255, 255, 0.5)
);