@import "variables";



    .video{
        @media (min-width: $xs){
            margin-bottom: 40%;
        }
    
        @media (max-width: $xs){
            margin-bottom: 80%;                   
        }


    }
    
@media (min-width:($lg)) {
    
    .blog-grid{       
        .blog-article{
            &:first-child{
        grid-row: 1 / 3;
        grid-column: 1;
        }
        &:nth-child(4){
            grid-row:1;    
        grid-column: 2;
        height: 100%;
        }
        &:nth-child(3){
            grid-row: 2;
            grid-column: 2;     
            margin-top: 1fr;
        }
        &:nth-child(2){
            grid-row: 3;
            grid-column: 1/3;
            
        }
    }
    
}
}


@media (max-width: $lg){
       
    

        .profe__foto{
            display: none;
        }
    
        .profe__article__last{
            margin: 0;
            background-color: rgb(255, 255, 255,0);
        }
    
        .blog-grid{        
            grid-template-columns: 100%;
            grid-template-rows: 24% 32% 24% 20%;
            padding-bottom:10%;
        }
    
        .blog-article{
            font-size: smaller;        
        }
    
        .blog button{
           margin: 0;
    
        }
    
    .navbar-collapse{
        border-top: 1px solid white;    
    }
    
    
        .nav{ 
            ul{ 
            li {
            
            background-color: rgb(0,0,0,0); 
            padding:10px;
            }
        }
        }
        
       
        .blog{
            main{
                padding-bottom: 50px;
            }
        }

       
            
        .nav-item{
            font-size: 1rem !important;        
        }
    
        .certificado{
            &:hover{
                transform: scale(1.1);
            }
        }
    
    }
    
    
    
    @media (max-width:$sm) and (min-width:$xs){
        nav{
            h1{
               font-size: 2rem !important;
           }
        }
    
        nav{
            ul{
                li{
                    a{
                        font-size: 2rem !important;
                    }
                }
            }
        } 
       
    
        .blog{            
            main{
                margin-bottom: 10px;
            } 
        }
        
    
    }
    
    @media (max-width:$xs){
        nav{
            h1{
                font-size: 1rem !important;
            }
        }
    }
    
    @media (max-width:500px) {
    
        .blog
        {
            main{        
                padding-bottom: 50px;
            }
        }
    
        .blog{            
            article{ 
                p{
                font-size: 0.5rem;
                }
            }
        } 
    }
    
    @media (max-width:253px) {
        .blog , 
        .blog{
            section{
                article{
                    h1{
                        font-size: xx-small;
                    }
                } 
            } 
        } 
    }
    
    
    
    
    @media (max-width:1024px) and (min-width:$md){
        body{
            backdrop-filter: blur(2px);
            
        }
        
    }
    
        @media (min-width:$md){
            .ballerobica{
                h1{
                    font-size: 40px;
                }
            } 
        }
    
    @media (min-width:2000px){
        nav{
            ul{
                li{
                    a{
                        font-size: 50px !important;
                    }
                } 
            } 
        } 
    
        header{
            h1{
               font-size: 10rem;
           }
        }
    }
    
    @media (max-width:768px) and (min-width:300px){
        body, 
        .blog, 
        .ejercicios{
            
            backdrop-filter: blur(2px);
        }
    
        .blog{
            background-image: url(../images/Foto1.jpg);
        }
    
        .bodyballerobica, .bodyprofesora, .ejercicios{
            background-image: url(../images/BackgroundMobile1.png);
            
            backdrop-filter: none;
        }
    
         .bodycontacto{
            background-image: url(../images/Background-mobile2.jpg);
            background-attachment: scroll;
        }
        
    
        .carousel{
             &:hover{
            margin-bottom: 4% ;
            margin-top: 2%;
            
        }
    }
    
        .ballerobica{
            h1, h2{
                color: #501c2b;
                font-size: 30px;
            }
        } 
    
    
    }
    
    @media (max-width:$md){
        
        footer{
            img{
                width: 10%;
            }
        }
    
        .video{
            height: 40%;
        }
    
    
    
        .ejercicios{ 
            article{
                 p{
            font-size:x-small;
        }
        }
        }
    }
            
    
        @media (max-width:444px) and (min-width:370px){
            nav{
                h1{
                    font-size: 1.75rem !important;
                }   
            } 
        }
    
        
        @media (max-width:500px) and (min-width:450px){
            
            
            .blog-grid{
                grid-template-rows: 24% 31% 24% 22%;
            }
        }
    
        @media (max-width:451px){
            .formsection{
                button{
                    font-size: 10px !important;
                }
            } 
        }
    
        @media (max-width:451px) and (min-width:320px){
            .blog-grid{
                grid-template-rows: 27% 35% 23% 18%;
                margin-bottom: 40px;
            }
    
            .formsection{
                height: 120vh;
            }
    
            
        }
    
        @media (max-width:342px) {
            .formsection{
                height: 140vh;
            }
        }
    

        @media (max-width:700px){
            .errorpage{
                h1{
                    font-size: 9rem !important;
                }
            }
        }
        
        .errorpage{
         
            @media (max-width:700px){
             
                h1{
                    font-size: 9rem !important;
                }
                
            }
            
            @media (max-width:950px){
                h2{
                    font-size: 1.5rem !important;
                }
                h1{
                    font-size: 18rem !important;
                }

                h3{
                    margin-top: 7vh !important;
                }
            }

            @media (max-width:731px){
                h2{
                    font-size: 1rem !important;
                }
            }

            @media (max-width:691px){
                h1{
                    font-size: 14rem !important;
                }
            }

            @media (max-width:511px){
                h2{
                    font-size: .8rem !important;
                }

                h1{
                    font-size: 11rem !important;
                }

                h3{
                    font-size: 1rem !important;
                }
            }

            @media (max-width:410px){
                h1{
                    font-size: 8rem !important;
                }

                h2{
                    font-size: .6rem !important;
                }

                
            }

            
            

        }


        @media (max-width:490px){
            .bodyballerobica, .bodyprofesora
            {
                
                background-position-x: -600px;
            }
        }        
