@mixin textos($font,$size,$align,$decor,$color,$margin){
    
    font-family: $font;
    font-size: $size;
    text-align: $align;
    text-decoration: $decor;
    color: $color;
    margin:$margin;
}

@mixin transitionProps(){
    transition-property:all !important;
    transition-duration: 0.4s !important;
    transition-timing-function: ease !important;
    transition-delay: 0s !important; 
}

@mixin fondo($imagen){
    background-image: $imagen;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}
