@import 'mixins';
@import 'maps';
@import 'variables';

.profe{        
    text-align: center;    
    padding: 30px;  
    background-color: rgb(250, 235, 215,0.5);  


    aside{
        background-color:map-get($colores,whitransparent); 
        padding: 3%;
    }

    p{
        font-family: 'Roboto';  
        letter-spacing: .5px;
        line-height: 160%
    }

    h2{
        @include textos("Solitreo",40px,center,none,map-get($colores,morado),0);        
        border-bottom: 1px solid map-get($colores,morado);
        margin-bottom: 4%;        
        
        &:hover{            
            transform: translateY (10px);            
        }
    }

    img{
        margin-top: 3%;
        width: 100%;
    }
    
    a{
        color: black;
    }
}



.profe__foto{
    background-image: url(../images/foto3_auto_x2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 200px;
}

.profe__foto__2{
    background-image: url(../images/foto4_auto_x2.jpg);
    background-attachment: fixed;
    background-size: cover;
}


.profe__article{
    background-color: white;
    padding: 6% 3%;
}



   

    
#certs{
    padding: 2% 0px;
    margin: 0 auto;
    border-top: 1px solid map-get($colores,lila);
    


    h2{
        
        color: map-get($colores,morado2);
        font-family: "Delius";    
        font-size: 3rem;
        margin-bottom: 1%;
    }

    img{
        width: 80%;
    }


    article {
        width: 32%;   
            
    }
}

.certificado{

    border: $lineaNegra;
    background-color: map-get($colores,whitransparent) !important;
    border-radius: 4%;
    padding: 1%;                
    @include transitionProps();

    h2, h3 {
        @include textos("Delius",1rem,center,none,map-get($colores,morado2),0);
        letter-spacing: 2px;            
    }

    h3{
        font-size: 1rem;
    }


    

    &:hover{
        transform: scale(1.3)
    }
}
