
$bordeaux:#9e3955;
$morado:#46304d;
$morado2:#615788;
$lila:#aea3db;
$lila2:#5643a1;
$rosado-claro:#fccfdb;
$degradeH:linear-gradient(rgb(158, 57, 85,0.8),rgba(250, 156, 182, 0.8)); 
$degradeF:radial-gradient(ellipse 750px 200px,$lila,$lila2);
$rosado:#d3708c;
$md:769px;
$sm:680px;
$xs:375px;
$lg:992px;
