
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Klee";
    src: url(../fonts/KleeOne-Regular.ttf);
}

@font-face {
    font-family: "Delius";
    src: url(../fonts/Delius-Regular.ttf);
}

@font-face {
    font-family: "Solitreo";
    src: url(../fonts/Solitreo-Regular.ttf);
}

@font-face {
    font-family: "Parisiene";
    src: url(../fonts/Parisienne-Regular.ttf);
}

@font-face {
    font-family: 'MondayMiracle';
    src: url(../fonts/Monday\ Miracle\ Alternate.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

*{
    scroll-behavior: smooth;
    margin: 0 auto;
    font-family: 'Roboto';
    animation: fadeIn 1.5s;
    
}

header h1, nav h1{
    font-family: 'Parisiene';
    text-align: center;        
    font-size: 6rem;
    color: #b3426d;
    margin: 1%;
}



nav h1{
    color: white !important;
    font-size: 4rem !important;
    margin: 25px;
    
    
}


header, nav{
    background-color: rgb(252.5, 217.5, 180, .3) !important;
}

header{
    padding: 5px 0 10px 0;
    text-align: center;    

}

nav{    
    padding-top: 3px;    
    top: 0;
    padding: 3px auto 0;
    
}

nav ul{    
    list-style-type: none;    
    width: 100%;
    margin: 5px;
    
    padding: 15px;
    
}

nav ul li{
    
            
    background-color:  rgb(250, 248, 217,.8);
    line-height: 40px;
    border-radius: 10px;    
    
    
    
} 

nav ul li a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d64d74;
    
    
}





 

nav ul a:hover {
    background-color: #fdf5e7;
    color:#9e3955;
    padding: 10px !important;
    transform: scale(1.03) !important;
}

body{
    
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position-x: 100%;
    background-position-y: -5px;
}

.bodycontacto{
    background-image: url(../images/background2.png);
    background-size: cover;
    background-position-x: -200;
    backdrop-filter: blur(5px);
    
}

main{
        
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.5);    
}

.profe{
    background-color: rgb(0,0,0,0);
}

.profe aside{
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 3%;
}

.profe p{
 font-family: 'Patrick Hand', cursive ;   
}


.ballerobica p, .ballerobica h1{
    text-align: center;
}

.ballerobica {
    line-height: 180%;
}

.ballerobica{
    padding: 3%;
    background-color: rgb(255, 255, 255,0);    
    width: 70vw;
    
}

.ballerobica__card__container{
    display: flex;
    margin-top: 3%;
}

.ballerobica__card__container:nth-of-type(1){
    margin-left: 20%;
}

.ballerobica__card h1{
    font-family: "Parisiene";
    font-size: 5vh;
    border-bottom: 1px solid black;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}



.ballerobica h1:hover{
    transform: translateX(10px);
}


.ballerobica article{
    width: 90%;
    margin: 0 5%;
   
}

.ballerobica img{    
    width: 77%;
    border-radius: 90% 10%;
}

.ballerobica section{
    display: flex;
    flex-direction: row;
    
}

.ballerobica aside{   
    margin-top: 2%; 
    width: 60%;    
}

.ballerobica ul li{
    list-style-type: "\1F7CA";
}


.profe article{
    
    text-align: center;
    margin-top: 500px;
    padding: 30px;  
    background-color: rgb(250, 235, 215,0.5);  
}


.profe{
    text-align: center;    
}

.profe h1{
    font-size: 40px;    
    font-family: "Solitreo";
    color: #46304d;
    border-bottom: 1px solid #46304d;;
    margin-bottom: 4%;
    text-align: center;
}

.profe h1{
    transition-property:transform;
    transform-origin:0px;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.profe h1:hover{
    transform: translateY (10px);
}








.profe img{
    margin-top: 3%;
    width: 100%;
}

.profe a{
    color: black;
}

    footer {    
    background-color: #9384d1;        
    }

    footer img{
        align-items: center;
        justify-content: center;
        margin: 2% 3%;
        width: 4%;
        transition-duration: 0.4s;
    }

    footer img:hover{
        transform: scale(1.1);
    }
    
#certs{
    padding: 2% 0px;
    margin: 0 auto;
    border-top: 1px solid #9384d1;
    
}

#certs h1,.certificado h1, .formsection h1{
    letter-spacing: 2px;    
    color: #615788;
    font-family: "Delius";
}

.carousel img{
    width: 1500px !important;
}

.certificado h1{
    font-size: 1rem;
}

#certs article {
    width: 32%;             
}
    #certs article, .certificado, .carousel {
        
        padding: 1%;
        border: 1px solid #9384d1;
        background-color: rgba(255, 255, 255, .7);
        border-radius: 4%;        
        transition-property:all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;        
    }

    #certs img{
        width: 80%;
    }

    .certificado:hover{
        transform: scale(1.3)
    }

    #certs article h1{
        font-size:40%;
    }



.formsection{
    text-align: center;
}

.formsection h1{
    padding: 2% 0;
    font-size: 40px;
}

form fieldset{
    width: 70%;
    border-radius: 3%;
}

form fieldset div{
    width: 25vw;
    
}

form label{
    width: 40%;
}

form .labelN, form .labelDH{
    font-size: 80%;
} 

form input, form select, form textarea{
    margin-top: 4% ;    
    background-color: #ffa1bb;
    border: 1px solid gray;
    border-radius: 2%;

}

form input{
    width: 70%;
}

form textarea{
    resize: none;
    display: flex;    
    width: 86%;
    height: 30vh;
}




button{
    border: 2px solid black;
    padding: 1% 4%;
    margin: 4% 2%;   
    background-color:  #d3708c;    
}

button:hover{
    background-color:  #daaab8;        
    transform: scale(1.1);
}

form button:hover{
    background-color: #d64d74;
}


form select{
    width: 68%;
}


.ejercicios{
    background-image: url(../images/background3.jpg);
    background-size: cover;
    background-attachment: fixed;    
    
    backdrop-filter: blur(2px);
}



.ejercicios .tipoEjercicio ul{                
    border-bottom: 1px solid black ;
    list-style-type: none;
}

.tipoEjercicio ul{
    display: flex;
}


.ejercicios .tipoEjercicio ul li a{
    text-decoration: none;
    color: gray
}

.ejercicios .tipoEjercicio ul li a  :hover{
    text-decoration: none;
    color: black;
}


.ejercicios section h1, .blog section h1{
    text-decoration: underline;
    font-family: "Solitreo";
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid black;
}

.ejercicios article{
    padding: 3% 2%;
    
    border-bottom: 1px solid black;
}

.ejercicios article h1{
    font-family: "Klee";
    text-decoration: none;
    font-size: 20px;
    border: none;
}

.carousel img{
    width: 50% !important;
}



.ejercicios article div img{
    width: 70%;
    border-radius: 4%;
}

.ejercicios article p{
margin-top: 2%;
 width: 70%;  
 font-size: smaller; 
}

.blog{
    background-image: url(../images/Background4.jpg);
    background-size: cover;
    background-attachment: fixed;    
    backdrop-filter: blur(5px);
}

.blog-grid{
    display: grid;
    margin-left: 10px;
    grid-template-columns:45% 55%;    

}


.blog section{
    padding: 1% 6%;
}

.blog-article{
    margin: 10px;
}


.blog section article h1{
    font-family: "Klee";
    font-size:30px;
    text-decoration: none;
    border-bottom: 1px solid black;
    color: #46304d;
}

.blog section article{
    background-color: rgba(255, 255, 255, .5);
    margin-top: 5%;
    padding: 1%;
    line-height: 2.5rem;
    border-radius: 2%;
}

@media (max-width:991px){
    .nav{
        background-color:#9e3955;        
    }

    .blog-grid{
        grid-template-columns: 100%;
    }


.navbar-collapse{
    border-top: 1px solid white;    
}


    .nav ul li {
        
        background-color: rgb(0,0,0,0); 
        padding:10px;
    };

    nav ul li a{
        font-size: 2rem !important;
    }

}

@media (min-width:991px){
    nav ul li a {
        color: #d64d74 !important;
    }
}
@media (max-width:688px){
    nav h1{
        font-size: 2.5rem !important;
    }

    nav ul li a{
        font-size: 2rem !important;
    }


}


/* @media (max-width:1018px) and (min-width:840px){
    
   
    .bodyballerobica{
       background-size: 2000px;
       background-position-x: -900px;
     
    }
       nav ul li a{
           font-size: 10px;
       }
   }

   @media (max-width:840px){
    nav ul li a{
    font-size: 8px; 
    }

    /* header h1{
        font-size: 40px;
    } */
/*}

/* 
@media (max-width:572px){
    nav ul li a{
        font-size: 5px;
    }


}

/* @media (max-width:422px) and (min-width:363px) {

    header h1{
        font-size: 43px;
    }

} */

/* @media (max-width:363px){
    header h1{
        font-size: 30px;
    }

} */

@media (max-width:1024px) and (min-width:768px){
    body{
        backdrop-filter: blur(2px);
        
    }
    
}

@media (max-width:768px) and (min-width:320px){
    body{
        background-image: url(../images/BackgroundMobile1.png);
        backdrop-filter: blur(2px);
    }

    .ballerobica h1{
        color: #9e3955;
    }

    .ballerobica aside, .ballerobica article{
        background-color: rgb(255, 255, 255, .5);
        padding: 10%;
        
    }
}

@media (max-width:769px){
    nav ul li{
        background-color: rgba(255, 255, 255, 0,1) !important;
    }
}


/*
@media (max-width:768px) and (min-width:320px){

    header h1{
        font-size:4rem;
    }

    .ballerobica section:nth-child(2){
        display: grid;
        grid-template-rows: repeat(2,500px);
    }
    
    

    .ballerobica{
        display: grid;
        margin: 0 auto;

    }

    .ballerobica__card{

        height: 40rem;
    }

    .ballerobica__card--img{
        display: none;
    
